<div class="mainOplata">

<div class="main_top">
    <p class="po">ОПЛАТА</p>
    <p class="poc">Отправляем заказ после 100% оплаты заказа и доставки, при получении посылки доплачивать не нужно. <br>
         В целях безопастности не можем сделать наложенный платеж.</p>
</div>

<div class="main-bottom">
    <h2>Способы оплаты:</h2>
    <ul class="oplati">
        <li><img src="assets/images/yandexIco.svg" alt=""> Яндекс Деньги</li>
        <li><img src="assets/images/sberBank.svg" alt=""> Карта Сбербанк</li>
        <li><img src="assets/images/garant.svg" alt=""> Гарант сервис (на ваш выбор)</li>
    </ul>
    <hr>
    <p class="esli">Если не знаете как оплатить, пишите консультанту на email, telegram или чат на сайте, все расскажем.</p>
    <div class={{ss}}>
        <p class="tolko">Оплачивайте только на те реквизиты, который придут с нашего email или чата на сайте <br> 
        <span class="vi">В telegram вы можете нарваться на мошенника! Мы не выдаем реквизиты через телеграм!</span></p>
        <img class="closer" (click)="close()" src="assets/images/closeBtn.svg" alt="">

    </div>
</div>
</div>