<div class="main">
<h1>КАК ОФОРМИТЬ ЗАКАЗ</h1>
<img src="assets/images/recLeft.svg" class="r1" alt="">
<img src="assets/images/recLeft.svg" class="r2" alt="">
<div class="grayBox">

    <div class="table">
        <div class="boxing">
            <img src="assets/images/korzinkaIco.svg" alt="">
            <p>Добавляем нужный товар<br> 
            в корзину. <br>
            Все что есть на сайте, <br>
            то в наличии.</p><img class="s1" src="assets/images/nextskidkiIco.svg" alt="">
        </div>
        <div class="line"></div>

        <div class="boxing"><img src="assets/images/vanIcon.svg" alt="">
               <p>Добавляем нужный товар <br>
                в корзину. <br>
                Все что есть на сайте, <br>
                то в наличии.</p><img class="s2" src="assets/images/nextskidkiIco.svg" alt="">
        </div>
        <div class="line"></div>

        <div class="boxing">
            <img src="assets/images/filesIco.svg" alt="">
            <p>Вводим ФИО, ваш e-mail (на <br>
               него придут реквизиты для <br>
               оплаты), вводим адрес <br>
               доставки, жмем “Подтвердить <br>
               заказ”.</p>
            <img class="s3" src="assets/images/nextskidkiIco.svg" alt="">
        </div>
        <div class="line"></div>
        <div class="boxing">
            <img src="assets/images/mail.icon.svg" alt="">
            <p>Далее ждем обработки заказа <br>
               и письмо с реквизитами для <br>
               оплаты на ваш e-mail.</p>
        </div>
    </div>
    <img src="assets/images/Rectangle 1557.png" class="rec" alt="">
    <img src="assets/images/Rectangle 1557.png" class="rec2" alt="">
</div>
    <div class={{ss}}>
        <p>По всем вопросам пишите на почту <span>rumassa13&commat;gmail.com</span> или телеграм <span>&commat;Rumassa</span> или в чате на сайте</p>
        <img class="closer" (click)="close()" src="assets/images/closerGreen.svg" alt="">

    </div>
</div>