<div class="one" style="display: flex;justify-content: center;margin: 0 auto;margin-top: 40px;">
    <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
        <p style="background-color: black;color: white;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">1</p>
        <p>Корзина</p>
    </div>
    <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
        <p style="background-color: black;color: white;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">2</p>
        <p>Адрес доставки</p>
    </div>
    <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
        <p style="background-color: #F9F9F9;color: black;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">3</p>
        <p>Заказ готов</p>
    </div>
</div>

<div class="one-bottom" style="border: 1px solid black;width: 92%;margin: 0 auto;margin-top: 30px;padding: 20px;">
    <p style="text-align: center;font-weight: 800;margin: 10px  ;">Внимание! Реквизиты приходят на ваш емайл моментально, если не пришли, проверьте спам папку!</p>
    <p style="text-align: center;">Для оплаты криптовалютой, запросите кошелек . По всем вопросам напишите мне на емайл rumassa13&commat;gmail.com или в телеграм &commat; Rumassa , а так же в чат на сайте.</p>
</div>

<h1 style="text-align: center;font-size: 40px;text-transform: uppercase;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #BB9B75;margin-top: 40px;">Спасибо!</h1>
<h1 style="text-align: center;font-size: 40px;text-transform: uppercase;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ваш заказ был принят</h1>

<div class="rows" style="width: 92%;margin: 0 auto;display: flex;margin-top: 50px;">
    <div class="two" style="width: 33.3%;background-color: #F8F8F8;border: 2px solid #D8D8D8;padding: 10px;">
        <p style="text-align: center;">Номер заказа: <span style="font-weight: 700;">15255</span></p>
    </div>
    <div class="two" style="width: 33.3%;background-color: #F8F8F8;border: 2px solid #D8D8D8;padding: 10px;">
        <p style="text-align: center;">Дата: <span style="font-weight: 700;">25.06.2022</span></p>
    </div>
    <div class="two" style="width: 33.3%;background-color: #F8F8F8;border: 2px solid #D8D8D8;padding: 10px;">
        <p style="text-align: center;">Итого: <span style="font-weight: 700;">1 440₽</span></p>
    </div>
</div>

<div class="table" style="width: 92%;margin: 0 auto;padding: 30px;border: 1px solid black;margin-top: 50px;margin-bottom: 70px;">
    <h1>Информация о заказе</h1>
    <div class="three" style="display: flex;justify-content: space-between;width: 100%;padding: 10px;">
        <p>товар</p>
        <p>итого</p>
    </div>
    <hr>
    <div class="three" style="display: flex;justify-content: space-between;width: 100%;padding: 10px;">
        <p>Testosterone Propionate 100mg/ml, 10ml  × 1</p>
        <p>880₽</p>
    </div>
    <hr>
    <div class="three" style="display: flex;justify-content: space-between;width: 100%;padding: 10px;">
        <p>Подытог</p>
        <p>880₽</p>
    </div>
    
    <hr>
    <div class="three" style="display: flex;justify-content: space-between;width: 100%;padding: 10px;">
        <p>Доставка</p>
        <p>Доставка почтой из РФ: 960₽</p>
    </div>
    <hr>
    <div class="three" style="display: flex;justify-content: space-between;width: 100%;padding: 10px;">
        <p>Итого</p>
        <p>1 440 ₽</p>
    </div>
    <div class="three" style="display: flex;justify-content: space-between;background-color: #F8F8F8;width: 100%;padding: 10px;">
        <p>Оплата:</p>
        <p>Bitcoin</p>
    </div>
</div>
