<div class="card_photo">
  <div class="img_card">
    <div class="icon">
      <img src="../../../../assets/images/hearthh.svg" alt="" (click)="addToList(id)" />
    </div>
    <div class="icon">
      <img src="../../../../assets/images/buildss.svg" alt="" />
    </div>
  </div>
  <div class="items">
    <img [src]="photopath" alt="img" style="width: 100%;">
    <h3>{{ title }}<br />{{ soni }}</h3>
    <p>{{ catalog }}<br />{{ company }}</p>
    <h3>{{ price }} ₽</h3>
    <div class="button">В корзину</div>
    <div class="button2">Подробнее</div>
  </div>
</div>