<div class="main">
    <h1>ДОСТАВКА</h1>
    <p class="ross">Заказы отправляем почтой России:</p>
    <div class="hull">
        <table>
            <tr>
                <td class="data1"><div class="firstD"><img src="assets/images/boxIcon.svg" alt=""><p>Посылка  5-14 дней с момента отправки<br> 
                    в зависимости от региона,<br> 
                    обычно не более 10 дней.</p></div>
                  <p class="zakaz"><img src="assets/images/money.svg" alt=""> <span class="sena">Цена сейчас 650 руб.</span> <br>
                    (на заказы меньше 1500 рублей идет <br class="be">
                     надбавка за доставку в размере <span class="ss"> 200 руб.</span>)
                </p>
                
                
                
                </td>
                <td class="data2"><div class="say" ><div class="exp"><img src="assets/images/express.svg" alt=""></div><p>ЕМС ускоренная (можно до двери),<br>
                    сроки 2-7 дней с момента отправки.</p> </div>

                    <p class="lulu"><img src="assets/images/money.svg" alt=""><span>Цена 1 500 руб.</span>
                    </p></td>






                <td class="data3"><div class="just"><img style="width: 29px;" src="assets/images/vanIcon.svg" alt="">
                    <p>Отправка заказа происходит в течении <br>
                     1-9 дней с момента оплаты.</p></div></td>
            </tr>
        </table>
        <img src="assets/images/Rectangle 1557.png" class="rec" alt="">
        <img src="assets/images/Rectangle 1557.png" class="rec2" alt="">
    </div>
</div>