<div class="home_page_component">

<div class="inter_magazin">


  <p class="text_p">Интернет- <br> магазин <br> стероидов</p>
  <p class="text_name">Качественная и сертифицированная продукция, с помощью которых <br> вы сможете улучшить свои результаты, как в бодибилдинге так и других <br> силовых видах спорта.</p>

  <div class="circle_part">
    <p class="podrob">Подробнее</p>
  </div>

  <div class="card_couple">


  <div class="sostav">
  <p class="number_name">01</p>
  <span class="text_med">Составление курса</span>
  <p class="text_vrach">Индивидуальное <br> составление курса</p>
  </div>

  <div class="sostav">
    <p class="number_name">02</p>
    <span class="text_med">Медсопровождение</span>
    <p class="text_vrach">Cопровождение лечащим <br> врачем</p>
    </div>
</div>


</div>


<img src="/assets/imgggg.png" class="image_home">

</div>