<div class="getALL">





<table class="table" style="width: 30%;margin: 0 auto;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Code</th>
        <th scope="col">ExpireDate</th>
        <th scope="col">Limit</th>
        <th scope="col">Percent</th>
       
      </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <td>{{ user.id }}</td> 
            <th scope="row">{{ user.code }}</th> 
            <td>{{ user.expireDate }}</td> 
            <td>{{ user.limit }}</td> 
            <td>{{ user.percent }}</td> 
           
        </tr>
    }
    </tbody>
  </table>



</div>