<header class="app-header">
    <div class="app-header-logo">
    </div>
    <div class="app-header-navigation">
        <div class="tabs">
            <a href="#">
            Category
            </a>
            <a href="#" class="active">
                Comment
            </a>
            <a href="#">
                Coupon
            </a>
            <a href="#">
                Delivery
            </a>
            <a href="#">
                News
            </a>
            <a href="#">
                Order
            </a>
            <a href="#">
                Product
            </a>
            <a href="#">
                Product Details
            </a>
            <a href="#">
                Review
            </a>
            <a href="#">
                Users
            </a>
        </div>
    </div>
    <div class="app-header-mobile">
        <button class="icon-button large">
            <i class="ph-list"></i>
        </button>
    </div>

</header>
