<div class="contacts-wrapper">
    <div class="divcha">
        <a href="home" class="glavni">Главная</a>
        <span class="strelka">></span>
        <a href="contacts" class="contacti">Контакты</a>
    </div>

    <div class="enter-title">КОнтакты</div>

    <div class="social-media">
        <div class="telegram-acc">
            <img src="../../../assets/images/Tg.svg" class="tg-img" alt="">
            <h2>
                Telegram:
                <span>&#64;Rumassa77</span>
                <p>Кликай для начала диалога</p>
            </h2>
        </div>
        <div class="line">

        </div>
        <div class="email-acc">
            <img src="../../../assets/images/email.svg" class="email-img" alt="">
            <h2>
                E-mail:rumassa13&#64;gmail.com
                <!-- <span>rumassa13&#64;gmail.com</span> -->
                <p>Электронная почта</p>
            </h2>
        </div>
    </div>
</div>

<div class="bg">
    
    <form class="cont-form">
        <div class="register-form">
            <label class="input-label" for="email">
                Ваше имя*
                <input id="name" placeholder="Введите e-mail" type="email">
            </label>
            <label class="input-label" for="email">
                Ваш e-mail*
                <input id="email" placeholder="Введите ваш пароль" type="password">
            </label>
            <label class="input-label" for="email">
                Ваш логин telegram
                <input id="password" placeholder="Введите ваш пароль" type="password">
            </label>
        </div>
        <label class="textarea-label" for="">
            Для комментария
            <textarea name="" placeholder="Для комментария" id="" cols="50" rows="50"></textarea>

        </label>

        <div class="register-btn">
            <button type="submit" class="form-btn">Отправить</button>
        </div>
    </form>


</div>