<div class="huge">
    


    <div class="one" style="display: flex;justify-content: center;margin: 0 auto;margin-top: 40px;">
        <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
            <p style="background-color: white;color: black;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">1</p>
            <p>Корзина</p>
        </div>
        <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
            <p style="background-color: white;color: black;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">2</p>
            <p>Адрес доставки</p>
        </div>
        <div class="one-in" style="text-align: center;padding-left: 40px;padding-right: 40px;">
            <p style="background-color: #F9F9F9;color: black;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;margin: 0 auto;">3</p>
            <p>Заказ готов</p>
        </div>
    </div>
    <h1 style="font-size: 40px;">КОРЗИНА</h1>
    <div style="display: flex; ">
        <div class="child1">
            <div style="display: flex; margin-top: 5px;">
                <h6 style="margin-left: 50px;">товар</h6>
                <div style="display: flex; gap: 40px;">
                <h6 style="margin-left: 300px;">Цена</h6>
                <h6>Количество</h6>
                <h6>Подытог</h6>
                </div>
            </div>

            <div class="child2" >

                <div style="display: flex;">
                    <img style="margin-left: 10px;" src="assets/images/closerblack.svg" alt="">
                    <img src="assets/images/dori.svg" alt="">
                    <p style="margin-top: 30px;">Oxymethalone 20mg/tab,<br> 100tab – ERGO</p>
                    <p style="margin-top: 30px;margin-left: 50px;">{{cost}} ₽</p>
                    <button style="margin-left: 35px; margin-top: 30px;" (click)="minus()">-</button>
                    <button style="background-color:black; color:  white; margin-top: 30px">{{value}}</button>
                    <button (click)="plus()" style="margin-top: 30px">+</button>
                    <p style="margin-top: 30px;margin-left: 40px; color: goldenrod;">{{withvalue}} ₽</p>
                </div>

                
            </div>
            
        </div>
        <div class="child3">
            <h1 style="font-size: 40px; margin-top: -30px;margin-left: -90px;">Сумма заказов</h1>
            <div class="child4">
                <div class="smalls">
                    <p>товар</p>
                    <p>подытог</p>
                </div>

            <div class="line"></div>


                <div class="smalls">
                    <p>Подытог</p>
                    <p>{{withvalue}}₽</p>
                </div>

            <div class="line"></div>

                <div class="smalls">
                    <p>Доставка</p>
                    <p>Доставка почтой из РФ: 960₽</p>
                </div>

            <div class="line"></div>

                <div class="smalls">
                    <p>Итого</p>
                    <p>1 440 ₽</p>
                </div>

            </div>
            <button class="submit">
                Оформить заказ           
             </button>
        </div>
    </div>
</div>