<div class="main">
    <div class="m_left">

        <h1 class="subs">ПОДПИШИСЬ НА <br> НАШУ РАССЫЛКУ</h1>
        <input class="subsIn" type="email" placeholder="Email" required>
    </div>
    <div class="m_right">
      <p class="cont_right">
        Подписывайся на рассылку и получай <br> на каждый товар <b> -5%</b>
      </p>
      <button class="pt_btn">
        Подписаться
      </button>
    </div>
    <div>
        <img src="assets/images/watercup.svg" style="height: 270px; margin-top: 30px;" alt="">
    </div>
</div>