<div class="main">
    <h1>СКИДКИ</h1>
    <div class="contents">
     <div class="con_t">
     <p class="cem">Чем больше сумма вашего заказа, тем больше вы экономите.</p>
     <p class="vas">К примеру, ваш заказ на 19 000 руб, <span>ваша скидка 5%</span>, к оплате 18 050 руб<br>
        А если ваш заказ 20 500 руб,<span> ваша скидка 10%</span>, к оплате 18 000руб</p>
        <p class="men">Платите меньше,а “вкуснях” набрали на 1 500 руб больше</p>
    </div>
    <hr class="hr">
    <div>
        <ul class="u1">
            <li><img src="assets/images/nextskidkiIco.svg" alt=""><p><span>5%</span> от 7 000 руб</p></li>
            <li><img src="assets/images/nextskidkiIco.svg" alt=""><p><span>10%</span> от 20 000 руб</p></li>
        </ul>
         <ul class="u2">
            <li><img src="assets/images/nextskidkiIco.svg" alt=""><p><span>15%</span> от 35 000 руб</p></li>
            <li><img src="assets/images/nextskidkiIco.svg" alt=""><p><span>20%</span> от 50 000 руб</p></li>
        </ul>
    </div>
    <img class="megafon" src="assets/images/megafon.svg" alt="">
    </div>
</div>
<app-subscribe></app-subscribe>
