
<div >
  <div id="carouselExampleIndicators" class="carousel slide" style="width: 1450px; height: 400px; margin-left: 20px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="display: flex;text-align: center;">
          <div class="main" >
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
          <div class="main" >
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
          <div class="main" >
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
          <div class="main">
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div style="display: flex; text-align: center;text-decoration: none;">
          <div class="main" >
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
          <div class="main" >
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
          <div class="main" >
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
          <div class="main">
            <div class="top">
              <img style="width: 330px; height: 293px;" src="assets/images/medicine.svg" alt="">
          
            </div>
             <p class="methan">Methan D 10mg/tab,
              100tab</p>
          
             <p class="oral">Оральные препараты, Метандиенон, Olymp Labs</p>
             <p class="price">704 &#8381;</p>
             <button class="btn1">В корзину</button>
             <button class="btn2">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="margin-right: 300px;">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="margin-left: 300px;">
      <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black; "></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


 
</div>
